.contenedor-medicos {
    
    min-height: 100px;
    margin: 10px 10px 50px;
    display: flex;
    align-items: left;
    justify-content: left;
    background-color: #ffffff; 
    box-shadow: 1px 1px 1px 1px rgba(7, 119, 247, 0.952);
  }
  
  .imagen-medicos {
    max-height: 200px;
    width: auto;
    padding:10px
    
  }
  @media screen and (max-width: 768px) {
    
    .contenedor-medicos {
      width: 100%;
      min-height: 250px;
      margin: 10px 10px 50px;
      display: block;
      align-items: left;
      justify-content: left;
      background-color: #ffffff; 
      box-shadow: 1px 1px 1px 1px rgba(7, 119, 247, 0.952);
    }
    
  }
  .contenedor-texto-medicos {
    text-align: left;
    font-family: sans-serif;
    font-weight: 200;
    line-height: 1.5rem;
    padding-left: 100px;
  }
  
  .medico-especialidad {
    font-size: 1rem;
  }
  

  
  .nombre-medico{
    font-size: 1.2rem;
    text-align: left;
    color:#3e8fda;
    padding-bottom:20px;
  }

  .botonera-favs{
    align-items: center;
    justify-content: center;
  }

  .botonera-favs a{
    color:#3e8fda;
    
  }
  