.logo-verificacion{
    padding-top: 70px;
    height: 150px;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}

.form-verificacion{
    padding-left:100px;
    padding-right: 100px;
    padding-bottom: 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
    

}

form{
    max-width: 700px;
}

form label{
    font-size: 14px;
    align-items: left;
    justify-content: left;
    text-align: left;
}

.parent {
    padding:40px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25rem,1fr));
    grid-template-rows: 1fr;
    grid-column-gap: 350px;
    grid-row-gap: 0px;
}

.logoSeccion{
    padding: 50px;
}

h1
{

    text-align: left;
    padding:40px;
  
}


span{
    color: white;
    text-decoration: none;
  }


